body{
	display: grid;
	grid-template-areas: 'header header'
	                     'side main'
	                     'footer footer';
	grid-template-rows: 10% 1fr 10%;
	grid-template-columns: 20% 1fr;
	grid-gap: 10px;
	height: 100vh;
}

header{
	grid-area: header;
	background-color: #A04CBC;
	text-align: center;

}

aside{
	grid-area: side;
	background-color: #5DA37E;
}

main{
	grid-area: main;
	background-color: #B2F5CE;
}

.main-grid{
	display: grid;
	grid-template-rows: repeat(3,170px);
	                 /* 170px 170px 170px */
	grid-template-columns: repeat(4,20%);
	                 /*  20% 20% 20% 20%; */
	grid-gap: 4%;
	justify-content: center;
	padding: 20px;
}

.main-grid > div{
	background-color: #fff;
	display: grid;
	text-align: center;
	align-items: center;/* (上下) */

}

footer{
	grid-area: footer;
	background-color: #C9D97D;
}


/* 画面の小さいPC */
@media screen and (min-width: 768px) and (max-width: 920px){
	.main-grid{
		grid-template-rows: repeat(4,20%);
		grid-template-columns: repeat(3,20%);
		background-color: #F6C9F2;
	}
}

/* タブレット */
@media screen and (min-width: 480px) and (max-width: 760px){
	.main-grid{
		grid-template-rows: repeat(6,15%);
		grid-template-columns: repeat(2,40%);
		grid-gap: 2%;
	}

	.main-grid > div:nth-child(2n){
		background-color: #f00;

	}


}

/* スマホ */
@media screen and (max-width: 480px){

}