body{
	display: grid;
	grid-template-areas: 'header header'
	                     'side main'
	                     'footer footer';
	grid-template-rows: 10% 1fr 10%;
	grid-template-columns: 20% 1fr;
	grid-gap: 10px;
	height: 100vh;
}

header{
	grid-area: header;
	background-color: #A04CBC;
	text-align: center;

}

aside{
	grid-area: side;
	background-color: #5DA37E;
}

main{
	grid-area: main;
	background-color: #B2F5CE;
}

footer{
	grid-area: footer;
	background-color: #C9D97D;
}